@font-face {
  font-family: 'alex_brushregular';
  src: url('header-font/alexbrush-regular-webfont.woff2') format('woff2'),
       url('header-font/alexbrush-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*============
global styles
============*/
body {
  font-family: Superclarendon, 'Bookman Old Style', 'URW Bookman', 'URW Bookman L', 'Georgia Pro', Georgia, serif;
  font-weight: normal;
  font-size: clamp(0.9rem, 0.5rem + 1.1vw, 3rem);
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
  user-select: none;
  display: flex;
  flex-direction: column;
}


/*============
    layout
============*/
html, body {
  height: 100%;
}

header {
  font-family: 'alex_brushregular', Georgia, serif;
  font-size: clamp(2.5rem, 1rem + 5vw, 7rem);
  height: calc(1.1em + 0.4vh);
  margin-bottom: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

#left-sidebar{
  width: calc(3rem + 10vw);
  padding: calc(0.1rem + 1vw);
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: calc(1.1em + 0.5vw);
}

#books-section {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.bookshelf {
  width: auto;
  height: fit-content;
  margin-bottom: 1.75vw;
  display: flex;
  flex-direction: column;
}

aside {
  width: clamp(20rem, 10rem + 10vw, 40rem);
  display: flex;
  align-items: flex-end;
}

/*============
  components
============*/

/* lists */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.submenu li {
  margin-left: 1em;
}


/* images */
.shelf {
  width: 18vw;
  height: auto;
  object-fit: cover;
  display: block;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto
}

.book {
  height: auto;
  width: 15vw;
  margin-left: 13%;
  transform: translateY(1.25vw);
}

.chair {
  width: 100%;
  height: auto;
  margin-top: auto;
}

/* buttons */
.add-book-button {
  margin-top: calc(1rem + 5vh);
  font: inherit;
  font-size: clamp(0.7rem, 0.3rem + 1vw, 2rem);
  width: clamp(5rem, 3rem + 7vw, 15rem);
}


/*============
    media
============*/
